.rideAndDrive .box {
  background-color: #fff;
  display: flex !important;
  /* #18  copy*/
  /*box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;*/
  position: relative;
  margin: 15px 15px 15px 0;
  /*box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;*/
}
.rideAndDrive .images {
  position: relative;
  height: 150px;
}
.rideAndDrive img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}
.rideAndDrive .text h1 {
  padding: 20px 0 0 20px;
  margin: 0;
}
.rideAndDrive .date {
  margin-top: 15px;
  padding: 0 0 0 20px;
}

.rideAndDrive .author {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px 0 0 20px;
  margin-top: 5px;
}

.title-post {
  text-decoration: none;
  color: #000;
}
.title-post:hover {
  text-decoration: none;
  color: #808080;
  /* background-color: #000; */
}